.education {
  padding: 50px;
  text-align: center;
  background: #fff;
  box-shadow: 5px 10px 10px linear-gradient(to right, #ff416c, #ff4b2b);
}

.education h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.edu-item {
  background: #f8f9fa;
  padding: 15px;
  margin: 15px auto;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(136, 124, 124, 0.1);
}
.edu-item:hover{
  width: 660px;
  box-shadow: 3px 7px 8px #a2a2a2;
}

.edu-item h3 {
  font-size: 1.5rem;
  color: #007bff;
}

.edu-item p {
  font-size: 1rem;
  color: #555;
}