body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  scroll-behavior: smooth;
}

.header {
  background: #222;
  color: white;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.home{
  margin-top:180px;
}

.about, .projects, .contact {
  padding: 80px 20px;
  background: white;
  margin: 60px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.projects ul {
  list-style: none;
  padding: 0;
}

.projects ul li {
  background: #222;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}

.footer {
  background: #222;
  color: white;
  padding: 15px;
}